:root {
    border: 0;
    margin: 0;
    --el-menu-hover-text-color: $primary-color;
    --el-color-primary: $primary-color !important;
}

body {
    border: 0;
    margin: 0;
    background-color: $text-color-2;
    overflow: hidden !important;
    .share-title {
        margin: 5px 5px;
        margin-top: 0;
    }

    .disabled {
        pointer-events: none !important;
        opacity: 0.4 !important;
        // cursor: not-allowed;
    }

    .share-button {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border-radius: 12px;
        border: #d8728020 1.5px solid;
        color: $primary-color;
        background-color: #d8728049;
        font-size: larger;
        font-weight: bolder;
    }

    .like-container {
        div.normal {
            margin: 0px 10px;
            padding: 0 5px;
            border: 2.5px $text-color-4 solid;
            border-radius: 100px;
            opacity: 0.7;
            font-weight: bold;
        }

        div.coll {
            color: $like-color !important;
            margin: 0px 10px;
            padding: 0 5px;
            border: 2.5px $like-color solid !important;
            border-radius: 100px;
            opacity: 1;
            font-weight: bold;
        }
    }

    .episode-drawer {
        width: calc(100% + 15px);

        .episode-info {
            display: flex;
            img {
                background-color: $tiktok-background-color-1;
                height: 200px;
                border-radius: 15px;
                border: $tiktok-text-color-1 1px solid;
                box-shadow: 0 0 5px 5px $tiktok-background-color-1;
                margin-right: 15px;
            }

            .text {
                flex: 1;
                border-bottom: 1px #e3e3e31b solid;
                .title {
                    font-size: 1.3rem;
                    color: $text-color-1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: calc(100% - 40px);
                }

                .details {
                    color: $text-color-4;
                    .head {
                        display: flex;
                        justify-content: space-between;

                        div.normal {
                            margin: 0px 10px;
                            padding: 0 5px;
                            border: 2.5px $text-color-4 solid;
                            border-radius: 100px;
                            opacity: 0.7;
                            font-weight: bold;
                        }

                        div.coll {
                            color: $favorite-color;
                            margin: 0px 10px;
                            padding: 0 5px;
                            border: 2.5px $favorite-color solid;
                            border-radius: 100px;
                            opacity: 0.7;
                            font-weight: bold;
                        }
                    }
                    .content {
                        opacity: 0.5;
                        border-top: 1px #e3e3e33d solid;
                        margin-top: 5px;
                        padding-top: 3px;
                    }
                }
            }
        }

        .episode-select {
            width: 100%;
            .button-group {
                width: 100%;
                button {
                    width: 100%;
                    // width: 100%;
                    height: 40px;
                    margin-top: 10px;
                    border-radius: 12px;
                    border: #d8728020 1.5px solid;
                    color: $primary-color;
                    background-color: #d8728049;
                    font-size: larger;
                    font-weight: bolder;
                }
            }
        }
    }

    .share-drawer {
        display: flex;

        width: 100%;
        height: 80px;
        overflow: scroll;
        overflow-y: hidden;
        // background-color: red;

        /* 隐藏默认的滚动条样式 */
        scrollbar-width: thin;
    }

    .el-message {
        background-color: $text-color-3 !important;
        border: 3.5px #323232 solid !important;
        opacity: 0.95;
        border-radius: 50px;
        transition: all 0.5s;
        padding: 8px !important;

        .el-message__icon {
            display: none !important;
        }

        .el-message__content {
            color: $text-color-1 !important;
            font-weight: bolder;
        }
    }
    .el-overlay {
        position: absolute !important;
        overflow: hidden !important;
    }
    .el-drawer__header {
        margin: 0;
        padding: 10px 15px 7px;
        color: $text-color-1;
        // font-weight: bold;
        font-size: small;
        opacity: 0.9;
    }
    .el-drawer__close-btn {
        &:hover {
            color: $primary-color !important;
        }
    }
    .el-drawer {
        color: $text-color-1;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute !important;
        width: 100% !important;
        background-color: $tiktok-background-color-1;
        overflow: hidden !important;
        /* 隐藏默认的滚动条样式 */
        scrollbar-width: none !important;
        /* Firefox */
        -ms-overflow-style: none !important;

        /* IE and Edge */
        &::-webkit-scrollbar {
            display: none !important;
            /* Chrome, Safari, and Opera */
        }

        .el-drawer__body {
            // background-color: green;
            width: calc(100% - 15px);
            padding: 15px;
            padding-top: 0px;
            font-size: small;

            overflow: hidden !important;
            /* 隐藏默认的滚动条样式 */
            scrollbar-width: none !important;
            /* Firefox */
            -ms-overflow-style: none !important;

            /* IE and Edge */
            &::-webkit-scrollbar {
                display: none !important;
                /* Chrome, Safari, and Opera */
            }
        }
    }

    .tab-header {
        .el-tabs__header {
            margin-bottom: 5px;
            .el-tabs__nav-wrap.is-top::after {
                color: $text-color-4;
                opacity: 0.5;
            }

            .el-tabs__active-bar {
                background-color: $primary-color;
                opacity: 0.9;
            }
            .el-tabs__item {
                margin: 5px 0;
                opacity: 0.7;
                height: 55px;
                font-weight: bold;
                color: $text-color-4;

                font-size: 1rem;
                &.is-active {
                    color: $primary-color;
                }
            }
        }
    }

    /* 隐藏默认的滚动条样式 */
    scrollbar-width: none !important;
    /* Firefox */
    -ms-overflow-style: none !important;

    /* IE and Edge */
    &::-webkit-scrollbar {
        display: none !important;
        /* Chrome, Safari, and Opera */
    }
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }

    user-select: none;
}

button {
    &:active {
        transform: scale(0.99);
    }
}

.header-container {
    .el-statistic {
        height: 20px;
        .el-statistic__head {
            margin: 0;
            text-align: center;
            color: $tiktok-text-color-1;
            font-weight: bold;
            font-size: larger;
        }
        .el-statistic__content {
            text-align: center;
            .el-statistic__number {
                text-align: center;
                color: $text-color-1;
                font-weight: bold;
                font-size: larger;
            }
        }
    }
}
