:root {
    border: 0;
    margin: 0;
}

body {
    border: 0;
    margin: 0;
    background-color: $text-color-2;

    .el-message {
        background-color: $text-color-3 !important;
        border: 3.5px #323232 solid !important;
        opacity: 0.95;
        border-radius: 50px;
        transition: all 0.5s;
        padding: 8px !important;

        .el-message__icon {
            display: none !important;
        }

        .el-message__content {
            color: $text-color-1 !important;
            font-weight: bolder;
        }
    }
}

* {
    box-sizing: border-box;
}
