$text-color-2: #28292d;
$primary-color: #e84a5f;
$secondary-color: #fecea8;
$text-color-1: #e3e3e3;
$text-color-4: #e3e3e3a3;

$text-color-3: black;
$tiktok-text-color-1: #656565;
$tiktok-background-color-1: #161616;

$tab-bar-height: 3.5rem;

$like-color: #e73a56;
$favorite-color: #fbb306;
$share-color: rgb(66, 66, 174);

$episode-height: 115px;
