$text-color-2: #2a363b;
$primary-color: #e84a5f;
$secondary-color: #fecea8;
$text-color-1: white;

$tab-bar-height: 3rem;

$like-color: #e73a56;
$favorite-color: #fbb306;
$share-color: rgb(66, 66, 174);
